body {
  margin: 0;
  text-align: center;
}

#container {
  background-color: #1b244a;
  display: flex;
  justify-content: space-around;
  margin: auto;
  width: 575px;
}

.score {
  font-family: "Cursed Timer ULiL", sans-serif;
  color: #f94f6d;
  font-size: 90px;
  background-color: #080001;
  text-align: center;
  padding: 10px 20px;
  margin: 0px 0px 20px 0px;
  border-radius: 5px;
}

.box-title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #eeeeee;
  font-size: 40px;
  margin: 0px 0px 20px 0px;
}

.btn-section {
  display: flex;
  justify-content: space-around;
}

.container-box {
  display: flex;
  flex-direction: column;
  width: 155px;
  margin: 40px 50px;
}

.add-btn {
  width: 42px;
  height: 42px;
  color: #9aabd8;
  border: 2px solid #9aabd8;
  border-radius: 5px;
  background: none;
  font-family: "Cursed Timer ULiL", sans-serif;
}
